/* Level range is 0% to 100% */
:root {
  --level: 65%;
}

.main-container {
  background-color: #333333;
  width: 100%;
  max-width: 540px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .progress-container {
  background-color: #565553;
  width: 95%;
  height: 70%;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
  padding-right: 1rem;
}
.main-container .progress-container::after {
  content: "";
  width: var(--level);
  position: absolute;
  height: 70%;
  background-color: #ee8031;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  border-radius: 10rem;
}
